.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 44px;
  line-height: 44px;
  text-align: right;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contentHeader {
  text-align: center;
  width: 100%;

  img {
    width: 450px;
    margin-bottom: 16px;
  }
}

.contentBody {
  width: 40%;
}
