.fpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fpTitle {
  text-align: center;
}

.formContainer {
  width: 100%;
  margin-left: -20%;

  button[type='submit'] {
    width: 100%;
    margin-bottom: 10px;
  }
}
