.layout {
}

.logo {
  padding: 15px 5px;
  text-align: center;
  cursor: pointer;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 10px;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  // justify-content:;
  align-items: center;

  .profileName {
    margin-right: 10px;
  }
}

.lightBg {
  background-color: #fff !important;
}
